
    <h2>Ответы на вопросы:</h2>
    <h3>Почему так дешево?</h3>
    <p class='margin'>Чё ты такой дешевый? Может ты ничего не умеешь и ничего не делаешь?</p>
    <p class='margin'>Просто я работаю на дому (удаленно, по всей планете). Это значит что не приходится снимать офисное помещение, с дорогущей электроэнергией, охраной, и интернет для коммерческого условия стоит дороже чем просто интернет. + Ко всем преимуществам не кататься до офиса в тесноте давке час туда, час обратно. Сказывается положительно на работе. Потому что работать под порывом вдохновения, куда приятнее и комфортней. Благодаря этому лендинг такой красивый и легкий. )</p>
    <p class='margin'>Принято понимать что если человек работает, то за работу должны платить, достаточное для работы.* Поэтому разумно было бы отталкиваться от ценника за лендинг от 1500-7000 если все же говорить о рублях, то да в рублях. Этот ценник обусловлен тем что легкий лендинг верстается за один день. А если учесть тот факт что делая работу каждый день занимаясь созданием сайта. Даже по самому минимуму. В месяц выйдет невероятно крупная сумма (30*1500=45000). И да рублей. Скорее всего по историческим причинам, складывается мнение, что для москвичей это невероятно огромные деньги, которые честным трудом нигде не заработать. Но только не у нас, где на такие мелкие деньги, можно только печалиться... И если для москвичей на сорок пять, можно заказать вагон любовниц и ни в чем себе не отказывать, то для сибири ничего нельзя. А оборудование для работы будет стоять огромных денег, таких больших что даже и нельзя.
    Все можно описать одним словом: <span style="overflow-wrap:break-word;">“РабовладельческаяАгонияПодпольноКомунистическойВаханалии.</p>

    <picture>
        <img src="images/frontend-developer/scale_1200.jpeg" alt="почему так дорого" title="чтобы делать такие сайты потрачено тридцать лет жизни">
    </picture>
    <h3>Почему так дорого?</h3>
    <p class='margin'> - Ведь 45 - это два по десять в двойне, да + исчо и пятачина???  Но, если сложить все затраты. Особенно в регионе, где мороз после нового года опускался до минус сорока, а продукты в магазине стоят дороже чем крыло самолета. “на котором вполне возможно эти продукты и доставляют”. Чтобы сложить их в охлажденное помещение, в помещении которое отапливается. Потому что на улице холодно и надо тратить энергию на обогрев, а потом на охлаждение. Получается в большом тепло, еще надо и холод продуктам. Из-за того что не изобретен способ контролировать температуру секторами. Чтобы воспользоваться уже сложившимся холодом из природы, не тратить средства на обогрев, а потом на охлаждение. Но все и так умные. А ценник на обогрев всего помещения чтобы в нем же и охладить маленький сектор, ложится на долю покупателя. Потому что он дурак, а не то что умные. Выходит что такие гигантские суммы по комуняшной шкале. В реальном мире ничего не стоят.</p>
    <h3> Истории из жизни:</h3>
    <blockquote class='margin'>               
    Дорого потому что стоит. Однажды, в одном ресторанчике, к Пабло Пикассо подошла некая женщина, которая протянула ему листок бумаги.<br>
    
    — Господин Пикассо, — взволнованно сказала она, — я ваша большая поклонница. Не могли бы вы что-нибудь нарисовать для меня?<br>
    
    Пикассо согласился и быстро запечатлел на этом листке свое произведение искусства. С улыбкой он вернул женщине листок и сказал:<br>
    
    — Это будет Вам стоить 9000 долларов.<br>
    
    — Но, господин Пикассо, — изумленно воскликнула женщина, — вы потратили каких-то 30 секунд, чтобы нарисовать этот миниатюрный шедевр!<br>
    
    — Милая женщина, — усмехнулся в ответ Пикассо, — для того, чтобы я мог нарисовать такой шедевр за 30 секунд сейчас, мне потребовалось более 30 лет жизни подготовки!<br>
    (<cite><a href="https://s-shevchenko.com/poleznoe/dva-siljnyh-otveta-na-vopros-pochemu-tak-dorogo">взято с сайта Шевченко</a></cite>)
    </blockquote>