<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Страница не найдена</title>
  <link rel="stylesheet" href="404.css">
  <link rel="icon" href="/nodejs.svg" type="image/svg+xml">
</head>
<body>
  <main>
    <h1>Ошибка 404</h1>
    <p>К сожалению, страница не найдена.</p>
    <a href="/blozhik">Вернуться в блог</a>
  </main>
</body>
</html>
