<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Профиль</title>
  <meta name="robots" content="noindex, nofollow">
    <link rel="icon" href="/nodejs.svg" type="image/svg+xml">
</head>
<body>
  <h1>Привет, <%= user.login %>!</h1>
  <p>Email: <%= user.email %></p>

  <% if (user.avatar) { %>
    <h2>Ваш аватар:</h2>
    <img src="/<%= user.avatar %>" alt="Аватар" style="max-width:200px; border-radius: 10px;">
  <% } else { %>
    <p>Аватар пока не загружен.</p>
  <% } %>

  <h2>Загрузить новый аватар</h2>
  <form action="/upload-avatar" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" accept="image/*" required>
    <button type="submit">Загрузить</button>
  </form>

  <p><a href="/logout">Выйти</a></p>
</body>
</html>
