<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload photo</title>
    <meta name="description" content="Самые крутые программисты nodejs. JS на быстром сервере NGINX Debian.">
    <link rel="icon" href="/nodejs.svg" type="image/svg+xml">
    <style>
        *{
            margin:0;
            padding:0;
        }
        body{
            display:grid;
            justify-content: center;
            align-items:center;
            justify-items: center;
            width:100%;
        }
        body > h1{
            color:red;
        }
    </style>
</head>
<body>
    <h1><%= message %></h1>
</body>
<script>
    setTimeout(()=>{
        window.location.href="https://new.qucu.ru/profile/"
    })
</script>
</html>