*{
  margin:0px;
}
body{
  background:linear-gradient(rgba(255,255,0,0.3),rgba(0,0,255,0.3));
  min-height: 100vh;
  font-size: 20px;
}
@media(max-width:270px){
  body{
    word-break: break-all;
  }
}
main{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  flex-direction: column;
}
article{
  display:grid;
  justify-content: center;
  /* align-items: center; */
  max-width:900px;
  width:100%;
}
aside{
  width:200px;
  display:grid;
  position:sticky;
  top:0;
  justify-content: center;
  align-items: start;
}
aside a{
  color:white;
  text-shadow: 1px 1px black;
}
@media(max-width:700px){
  aside{
    position:fixed;
    top:10px;
    display:inline;
    width:300px;
  }

  aside li{
    display:inline-block;
    float:right;
    margin-left: 3%;
    background:green;
    border-radius: 7px;
  }
}
img{
  width:100%;
  max-width: 900px;
  /* min-width: 200px; */
}
#gl{
  width:100%;
  max-width: 512px;
}
article h1{
  color:white;
  text-shadow: 1px 1px black, 2px 2px 3px black, 3px 3px black;
}
picture{
  width:100%;
  max-width: 900px;
}

@media(max-width:700px){
  body > main:nth-child(1) > aside:nth-child(2) > a:nth-child(1) > picture:nth-child(1) > img:nth-child(1){
    display:none;
  }
}
@media(max-width:300px){
body{
    font-size:14px;
  }
}
#comments{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width:900px;
}
